<launch>
  <arg name="model" default="$(find mobile_robot)/urdf/mobile_robot.urdf.xacro"/>
  <arg name="rvizconfig" default="$(find mobile_robot)/rviz/urdf.rviz" />


  <rosparam command="load"
            file="$(find mobile_robot)/config/joints.yaml"
            ns="mobile_robot_joint_state_controller" />
  <rosparam command="load"
            file="$(find mobile_robot)/config/diffdrive.yaml"
            ns="mobile_robot_diff_drive_controller" />
  <rosparam command="load"
            file="$(find mobile_robot)/config/paramlist.yaml"
            ns="mobile_robot_diff_drive_controller" />

<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find mobile_robot)/urdf/mobile_robot.urdf.xacro'" />

<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
  </node>

<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>
<node name="gazebo" pkg="gazebo_ros" type="gazebo" respawn="false" output="screen"/>
<node name="compass" pkg="mobile_robot" type="compass" respawn="false" output="screen"/>
<node name="gps_to_xy.py" pkg="mobile_robot" type="gps_to_xy.py" respawn="false" output="screen"/>
<node name="odom_to_yaw.py" pkg="mobile_robot" type="odom_to_yaw.py" respawn="false" output="screen"/>
<node name="mission_reader.py" pkg="mobile_robot" type="mission_reader.py" respawn="false" output="screen"/>
<node name="mission_planner.py" pkg="mobile_robot" type="mission_planner.py" respawn="false" output="screen"/>
<node name="gps_kalman.py" pkg="mobile_robot" type="gps_kalman.py" respawn="false" output="screen"/>


<arg name= "pos_x" default = "0"/>
	<arg name= "pos_y" default = "0"/>
	<arg name= "pos_z" default = "0.00"/>
	<arg name= "yaw" default = "0"/>
	<arg name= "robot_name" default= "mobile_robot"/>

	<node name="urdf_robot_model_spawner" pkg="gazebo_ros" type="spawn_model"
	args="-param robot_description
	-urdf
	-x $(arg pos_x)
	-y $(arg pos_y)
	-z $(arg pos_z)
	-Y $(arg yaw)
	-model $(arg robot_name)"
	respawn="false" output="screen"/>

</launch>
